{% from "macros/fields.tmpl" import render_input_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}LIST{% endblock %}

{% block content %}
  <h3>insert</h3>
  <div class="form-group">Type in the email address you used when signing up and we'll send you a link to reset your password.</div>
 <table>
    {% for n in data %}
        <tr>
            <td>{{ n.email }}</td>
            <td><a href="/editgameuser/{{ n.id }}">{{ n.username }}</a></td>
            <td><a href="/delgameuser/{{ n.id }}">Smazat</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
